.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .image-opacity {
    filter: brightness(30%) contrast(75%); /* Set the desired opacity value (0 to 1) */
  }