.custom-calendar {
    border: 1px solid #ddd; /* Border color */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a card-like appearance */
  }
  
  .custom-calendar .react-calendar__tile--now {
    background: #3498db; /* Background color for the current date */
    color: #fff; /* Text color for the current date */
    border-radius: 5%; /* Make the current date circular */
  }
  